@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

:root {
    font-family: "Playfair Display", serif;
}
/* Makes the scrollbar dark */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1f1f1f;
}

::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #555 #1f1f1f; /* thumb color, track color */
}